// Page 3

.page3 {
    background: linear-gradient(to right, #42a1c6, #F4D03F);
    display: flex;
    align-items: center; 
    justify-content: center;
}

.page3 .pagecontainer {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.page3 .words {
    font-size: 6vh;
}

.page3 .fish {
    animation: spin 2s linear infinite;
}

@keyframes spin { 
    100% {
        transform: rotate(-360deg);
    }
}
